body {
  background-image: linear-gradient(to right, #434343 0%, #2c2c2c 100%);
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  font-family: "Poppins", sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  height: 11vh;
}

header h1 {
  font-size: 1.4rem;
  text-align: center;
  color: white;
}

footer {
  transform: translate(0, -300px)
}

.Grid {
  z-index: 1000;
  width: 78vh;
  height: 78vh;
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.Grid-item {
  width: 32%;
  height: 32%;
  margin: 0.5%;
  background: grey;
}

.image-container {
  position: relative;
}

.image-block-text{
  font-size: 9px;
}

.interaction-button-container {
  background-color: rgba(10, 10, 10, 0.8);
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* transform: translate(0%, -100%);  */
}

.interaction-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.socials{
  display: inline-block;
}

.more-info{
  /* display: inline-block;
  transform: translate(calc(50vw - 150%) ,-10px) */
}

.scrollable-content{
  height: 84%;
  overflow-y:scroll;
}

.information-button{
  margin:auto;
}

@media (max-width: 768px) {
  .Grid {
    z-index: 1000;
    width: 96vw;
    height: 96vw;
  }
  header {
    height: 20vh;
  }
  header h1 {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
}
